 /* Colors */
$clr-primary-1: hsl(22, 65%, 57%);
$clr-primary-1-lt: hsl(21, 94%, 75%);  
$clr-primary-2: hsl(0, 0%, 6%);
$clr-primary-4: hsl(0, 0%, 98%);
$clr-primary-6: hsl(0, 0%, 20%);
$clr-base: hsl(0, 0%, 95%);
$clr-white: hsl(0, 0%, 100%);
$clr-light: #191919;
$clr-black: hsl(0, 0%, 0%);
$clr-grey-1: hsl(0, 0%, 50%);
$clr-grey-2: hsl(0, 0%, 30%);
$clr-grey-3: hsl(0, 0%, 81%);
$clr-border: hsl(0, 0%, 10%);
$clr-danger: hsl(0, 65%, 49%);

  /* Font size */
$fs-h1: 3.5rem;
$fs-h2: 2.5rem;
$fs-h3: 2rem;
$fs-h4: 1.75rem;
$fs-h5: 1.5rem;
$fs-h6: 1.1rem;
$fs-base: 0.9375rem;
$fs-mili: 0.875rem;
$fs-micro: 0.8125rem;

  /* Line height */
$lh-h1: 3.625rem;
$lh-h2: 2.75rem;
$lh-h3: 2.25rem;
$lh-h4: 2.375rem;
$lh-h5: 2rem;
$lh-h6: 1.5rem;
$lh-base: 1.56rem;
$lh-mili: 1.2rem;
$lh-micro: 1.56rem;

  /* Letter spacing */
$ls-h1: 0.125rem;
$ls-h2: 0.094rem;
$ls-h3: 0.072rem;
$ls-h4: 0.125rem;
$ls-h5: 0.106rem;
$ls-h6: 0.081rem;
$ls-mili: 0.625rem;
$ls-micro: 0.063rem;

  /* Offsets */
$offset-big: 2.375rem;

  /* Others */
$radius: 0.5rem;
$modal-background: 0 0 0 1000rem rgba(0, 0, 0, 0.4);
$burger-transition: all 0.5s ease-in-out;
$general-transition: all 0.3s ease-in-out;
