@import '../styles/mixins';
@import '../styles/vars';

.aboutus-container{
    @include flex(column-reverse);
    @include container();
    gap: 4rem;
    img{
        width: 100%;
        border-radius: 20px;
    }
}

.aboutus-head{
    h1{
        font-size: $fs-h2;
        line-height: $lh-h2;
        margin-bottom: 2rem;
    }
    span{
        color: $clr-primary-1;
    }
    p{
        font-weight: 500;
        font-size: $fs-h6;
        color: $clr-grey-1;
        margin-top: 1.5rem;
    }
}

@media(min-width: 1024px) {
    .aboutus-container{
        gap: 5rem;
        img{
            width: 40%;
        }
    }
}

@media(min-width: 1200px) {
    .aboutus-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 4rem;
        img{
            width: 40%;
        }
        .aboutus-head{
            h1{
                font-size: $fs-h2;
                line-height: $lh-h2;
                max-width: 15ch;
            }
            p{
                max-width: 50ch;
            }
        }
    }
}