.categories-container{
    margin: 0 1rem;
}

@media(min-width: 768px){
    .categories-container{
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 4rem;
    }
}

@media(min-width: 1200px){
    .categories-container{
        margin: 0 8rem;
    }
}