@import '../styles/mixins';
@import '../styles/vars';

.featured-container{
    @include container();
    h1{
        margin-bottom: 4rem;
    }
}

.featured-products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    gap: 6rem 6rem;
}