@import '../styles/mixins';
@import '../styles/vars';

.Product-Card{
    text-align: center;
    img{
        width: 100%;
    }
    h3{
        margin-top: 2rem;
        letter-spacing: $ls-h2;
        line-height: $lh-h2;
    }
}