@import '../styles/mixins';
@import '../styles/vars';

.features-container{
    @include container();
    .text1{
        margin: 2rem 0;
    }
    .qty{
        color: $clr-primary-1;
    }
    p{
        font-weight: 500;
        font-size: $fs-mili;
        color: $clr-grey-1;
    }
    .in-box{
        h1{
            margin-bottom: 2rem;
        }
        .items{
            margin-bottom: 1.2rem;
        }
        .list{
            list-style: none;
            display: inline-flex;
            gap: 2rem;
        }
    }
}

@media(min-width: 1024px){
    .features-container{
        display: flex;
        gap: 10rem;

        .features{
            max-width: 55ch;
        }
    }
}

@media(min-width: 1200px){
    .features-container{
        .features{
            max-width: 65ch;
        }
        p{
            font-size: $fs-h6;
            max-width: 70ch;
        }
    }
}