@import "../styles/vars";

.cart {
  background: $clr-white;
  border-radius: $radius;
  padding: 2rem 2rem;
  position: absolute;
  z-index: 999;
  top: 5rem;
  right: 0;
  width: 35ch;
  .btn {
    display: block;
    text-align: center;
    margin-top: 3rem;
  }
}

.close-cart {
  display: none;
}

.cart-header,
.cart-total {
  display: flex;
  justify-content: space-between;
}

.remove-btn {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}

.cart-list {
  margin: 4rem 0;
  text-align: center;
}

.cart-total {
  margin-bottom: -2rem;
}
